*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

li, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;

}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3586ff;
    overflow: hidden;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wavewh.png);
    background-size: 1000px 100px;
}

section .wave.wave1 {
    animation:  animate 20s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation:  animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}


section .wave.wave3 {
    animation:  animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

section .wave.wave4 {
    animation:  animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}


@keyframes animate {
    0% {
        background-position-x: 0;
         
    }
    100% {
        background-position-x: 1000px;
         
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
         
    }
    100% {
        background-position-x: -1000px;
         
    }
}


.mainboxinsection {
    width: 100%;
    position: absolute;
    top: 25%;
}

.headtext {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #fff;
    font-size: clamp(100px, 15vw, 200px);
    text-align: center;

}

.text-under-ht {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(25px, 5vw, 50px);
    color: #fff;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #3586ff;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    color: #fff;
    font-size: clamp(14px, 2.5vw, 18px);
    position: relative;
    text-decoration: none;
    font-style: normal;
    text-transform: none;

}

.nav_links li a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


.nav_links li a:hover:after {
    width: 100%;
}



.about {
    background-color: #fff;
}
.about h1{
    color: #3586ff;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 24px;
}
.projects {
    background-color: #fff;
}
.projects h1{
    color: #3586ff;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 24px;
}
.documentary{
    background-color: #fff;
}
.documentary h1{
    color: #3586ff;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 24px;
}




.info {
    width: 70%;
    float: left;
}
.news {
    width: 30%;
    float: right;
    height: 300vh;
}
.news h1 {
    display: flex;
    justify-content: center;
    color: #3586ff;
    font-size: 24px;
}

.splitline {
    background-color: #1453B3;
    width: 2px;
    height: 298vh;
    position: absolute;
    left: 69%;
    z-index: 1000;
}